.btn-custom-proceed {
    background-color: rgba(255, 57, 146, 0.361);
    border: 1px solid #ff2587;
    color: white;
}

.btn-custom-proceed:hover {
    background-color: #ff2587;
    color: white;
}
