.btn-custom-search {
    background-color: rgba(255, 57, 146, 0.361);
    border: 1px solid #ff2587;
    color: white;
}
  
.btn-custom-search:hover {
    background-color: #ff2587;
    color: white;
}

.btn-custom-reset {
    background-color: rgba(65, 215, 167, 0.314);
    color: white;
}
  
.btn-custom-reset:hover {
    background-color: rgb(65, 215, 167);
    color: white;
}