.btn-custom-search {
    background-color: rgba(232, 50, 132, 0.3);
    color: white;
}
  
.btn-custom-search:hover {
    background-color: #e83283;
    color: white;
}

.btn-custom-reset {
    background-color: rgba(65, 215, 167, 0.314);
    color: white;
}
  
.btn-custom-reset:hover {
    background-color: rgb(65, 215, 167);
    color: white;
}