.cart-no {
    position: absolute;
    min-height:  25px;
    min-width:  25px;
    border-radius: 50%;
    background: blue;
    color: white;
    text-align: center;
    top: -12px;
    right: 32px;
}

a {
    text-decoration: none;
    color: #343a40;

    &.active {
        color: rgb(0 170 221);
    }
}

.logo {
    cursor: pointer;
}

.dropdown-menu {
    background-color: rgba(210, 0, 111, 1);
}

.dropdown-item {
    color: white;

    i {
     margin-right: 0.7rem;
    }
}

.dropdown-item:focus,
.dropdown-item:hover {
    background-color: transparent;
    color: #007da7;
}